<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SdxKeyboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <SdxKeyboard.Properties.Settings>
            <setting name="SdxAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="TargetType" serializeAs="String">
                <value>NoneRT</value>
            </setting>
            <setting name="TargetPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="TargetAddress" serializeAs="String">
                <value/>
            </setting>
            <setting name="ClockIsExternal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RawLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoggingRate" serializeAs="String">
                <value>10</value>
            </setting>
        </SdxKeyboard.Properties.Settings>
    </userSettings>
</configuration>
